// media queries

$mobile: "(max-width: 600px)";
$tablet: "(min-width:601px) and (max-width:1023px)";
$desktop:"(min-width:1024px)";

// headings

$main-heading: 5rem;
$sub-heading:4rem;
$body-text:1.8rem;

// fonts
$heading-font: "(font-family: 'Sora', sans-serif)";